.flex-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 4px solid #396090;
    cursor: pointer;
    margin: 1px auto;
}

.flex-container img {
    position: absolute;
}

.shop-display {
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.boy-running {
    width: 80px;
    height: 120px;
    bottom: 15px;
    left: -75px;
    z-index: 2;
}

.flex-container:hover .boy-running {
    opacity: 1;
    animation: runAcross 2s ease-out forwards;
}

@keyframes runAcross {

    95% {
        transform: translateX(185px);
        opacity: 1;
    }

    100% {
        transform: translateX(185px);
        opacity: 0;
    }
}

.toys-label {
    position: absolute;
    opacity: 0;
    color: #cac4c4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight: bold;
    z-index: 5;
    bottom: 5px;
    left: 5px;
}

.flex-container:hover .toys-label {
    opacity: 1;
    transition: opacity 0.5s;
}

.fun-toys-label {
    position: absolute;
    opacity: 0;
    color: #00FF00;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    z-index: 5;
    top: 30px;
    left: 0;
}

.flex-container:hover:active .toys-label {
    opacity: 0;
    transition: opacity 0.2s;
}

.flex-container:hover:active .fun-toys-label {
    opacity: 1;
    transform: rotate(-15deg);
    transition: opacity 0.5s;

}

.boy-turned {
    opacity: 0;
    width: 80px;
    height: 120px;
    bottom: 15px;
    right: 10px;
    z-index: 3;
}

.flex-container:hover .boy-turned {
    opacity: 1;
    transition: opacity 0s ease 2s;
}

.flex-container:hover .pinwheel {
    opacity: 1;
    top: 70px;
    right: 60px;
    width: 50px;
    height: 50px;
    z-index: 4;
    transition: opacity 0s ease 2s;
}

.flex-container:hover .pinwheel-stick {
    opacity: 1;
    top: 95px;
    right: 53px;
    width: 40px;
    height: 60px;
    z-index: 3;
    transform: rotate(-2deg);
    transition: opacity 0s ease 2s;
}

.flex-container:hover:active .pinwheel {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.flex-container:hover:active {
    filter: sepia(100%);
    transition: filter 3s;
}

.pinwheel,
.pinwheel-stick {
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
}