h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

button {
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    min-width: 200px;
}

#createBtn {
    background-color: #1d64ce;
    color: white;
}

#recolorBtn {
    background-color: #1d64ce;
    color: white;
}

#recolorBtn.active {
    background-color: #1d8ace;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}


thead tr,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th,
td {
    padding: 16px;
    text-align: left;
    font-size: 16px;
}

td {
    padding: 14px 16px;
}


.class1 {
    background-color: #b1cfe6;
}

.class2 {
    background-color: #d8ecdc;
}

tbody tr.bold-even td {
    font-weight: bold !important;
}

thead tr th {
    font-weight: bold;
    background-color: #1a527d;
    color: white;
}