#game {
    width: 700px;
    height: 550px;
    background: rgba(18, 118, 165, 0.1);
    border: 2px solid #5370d8;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

#success {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: 800;
    display: none;
    z-index: 10;
    color: #076c35;
    text-shadow: 0 0 8px rgba(46, 204, 113, 0.7);
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    animation: confFall 2.5s ease-out forwards;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 1000;
}

.weight {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #4df9ff;
    color: #000;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.weight:hover {
    transform: scale(1.05);
}

.weight.in-bowl,
.weight.on-table {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;
    cursor: grab;
    z-index: 11;
}

.scale {
    position: absolute;
    bottom: 150px;
    width: 220px;
    height: 150px;
    border: 3px solid #5370d8;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    z-index: 5;
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}

.pile {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

}

#table {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 80px;
    border: 2px solid #5370d8;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    z-index: 3;
}

.table-label {
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 15px;
    color: #5370d8;
}