  .equation-container {
      padding: 15px;
      border-radius: 100px;
      border: 2px solid #3498db;
  }

  .equation {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-size: 2rem;
      min-height: 80px;
      flex-wrap: wrap;
  }

  .shape {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }

  .shape.small {
      width: 60px;
      height: 60px;
      background: #4d65bb !important;
  }

  .shape.large {
      width: 75px;
      height: 75px;
      background: #1183b3 !important;
  }

  /* Числа внутри фигур */
  .shape-number {
      color: white;
      font-size: 20px;
  }


  .triangle {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .square {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .circle {
      border-radius: 50%;
  }


  .equals,
  .operator {
      font-size: 35px;
      color: #3498db;
      margin: 0 5px;
  }

  .answer-input {
      width: 100px;
      height: 70px;
      font-size: 2.5rem;
      text-align: center;
      background: rgba(255, 255, 255, 0.1);
      border: 3px solid #3498db;
      border-radius: 10px;
      color: white;
  }

  .answer-input:focus {
      outline: none;
      border-color: #f1c40f;
  }


  .weight-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
  }

  .weight-sign {
      font-size: 1.5rem;
      color: #3498db;
      margin: 0 3px;
  }



  .scale-label {
      font-size: 1.1rem;
      color: #3498db;
      font-weight: bold;
      margin-bottom: 8px;
      text-align: center;
      width: 100%;
  }