.level-locked {
    opacity: 0.6;
    position: relative;
    pointer-events: none;
    cursor: not-allowed;
    background: #95a5a6 !important;
}



.level-container {
    position: relative;
    margin-bottom: 15px;
}

.player-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.bottom-marking {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.bottom-marking .btn {
    width: 300px;

}

.player-info-text {
    font-size: 20px;
    color: #0a0808;
}

.add-points-btn {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

.add-points-btn:hover {
    background: #27ae60;
    transform: translateY(-3px);
}


.main-title {
    text-align: center;
    margin-bottom: 30px;
    color: #07090b;
}