* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #94dbe3;
    color: rgb(0, 0, 0);
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #0f7cf1;
}

.auth-form {
    background: rgba(128, 193, 207, 0.3);
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto 30px;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #5195b0;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 100;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

/*-------------*/
.player-info {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 8px rgba(2, 16, 107, 0.5);

}

.btn:hover {
    background: #2980b9;
}

.btn-level {
    background: #2ebccc;
    font-size: 20px;
    padding: 20px;
}

.btn-level:hover {
    background: #2594a1;
}

.btn-rating {
    background: #0b69bc;

}

.btn-rating:hover {
    background: #053f72;
}



/*-------------*/



.rating-table {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 30px 0;
}

.rating-row {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgba(150, 31, 31, 0.1);
}

.rating-row.header {
    background: rgba(13, 87, 234, 0.2);
    font-weight: bold;
}

.rating-name {
    flex: 3;
}

.rating-score {
    flex: 1;
    text-align: right;
}



/*----*/
.game-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.game-question {
    font-size: 20px;
    color: #0b3fba;
    font-weight: bold;
}

.animals-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 40px 0;
}

.animal-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    border: 5px solid transparent;
    background: #14bccb;
    box-shadow: 0 5px 15px rgb(20, 62, 146);
}

.animal-circle.selected {
    border-color: #2ecc71;
    transform: scale(1.05);
    background: linear-gradient(45deg, #2ecc71, #27ae60);
}

.timer {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: #d32e2e;
    text-align: center;
}

.sublevel-info {
    font-size: 15px;
    margin: 20px 0;
    color: #3498db;
    text-align: center;
    display: block;
    width: 100%;
}

.score-info {
    font-size: 20px;
    color: #2e60cc;
}

.result-message {
    font-size: 20px;
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    background: rgba(215, 36, 36, 0.1);
}

.correct {
    color: #06b95a;
    background: rgba(26, 76, 126, 0.05);
}

.incorrect {
    color: #e74c3c;
}

.game-stats {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.stat-item {
    text-align: center;
}

.stat-value {
    font-size: 30px;
    font-weight: bold;
    color: #431ab6;
}