h1 {
    text-align: center;
    margin-bottom: 20px;
}

.work-area {
    width: 100%;
    height: 80vh;
    background-color: #c4ebf8;
    border: 3px dashed #4829b0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.shape {
    position: absolute;
    cursor: move;
    transition: transform 0.3s;
    user-select: none;
}

.house-square {
    width: 100px;
    height: 100px;
    background-color: #d39623;
    border: 3px solid #9e782e;
    z-index: 20;
}

.house-roof {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 80px solid #41d6d6;
    z-index: 20;
}

.house-window {
    width: 40px;
    height: 40px;
    background-color: #a8cbe6;
    border: 2px solid #8dc7d9;
    z-index: 35;
}

.tree-bottom {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 100px solid #3b942b;
    z-index: 30;
}

.tree-middle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 80px solid #27ae60;
    z-index: 31;
}

.tree-top {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid #1edc6d;
    z-index: 32;
}

.tree-trunk {
    width: 30px;
    height: 70px;
    background-color: #8b4513;
    border: 2px solid #5d2906;
    z-index: 25;
}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bold;
    color: #ae5427;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    background: linear-gradient(135deg, #a9c0de, #90e2e2);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    border: 4px solid #82c9d1;
    opacity: 0;
    display: none;
    animation: animation_mess 0.8s ease-out forwards;

}

@keyframes animation_mess {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
    }

    70% {
        opacity: 0.8;
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        opacity: 0.8;
        transform: translate(-50%, -50%) scale(1);
    }
}